<div class="container ">
    <div class="d-flex align-item-center justify-content-between ">
        <div>
            <input class="c-charters__topBar" type="text" placeholder="Buscar..." [(ngModel)]="textToFilter">

        </div>
        <div class="c-detail-cronology-icons__right">
            <img class="c-detail-cronology-icons__right--home"
                src="https://png.pngtree.com/png-vector/20190420/ourlarge/pngtree-home-vector-icon-png-image_963304.jpg"
                alt="" routerLink="">
            <img class="c-detail-cronology-icons__right--icon" src="../../../../assets/icon/spain 1.svg" alt="">
            <img class="" src="../../../../assets/icon/united-kingdom 1.svg" alt="">
        </div>
    </div>
    <div class="c-charters_seachOverline"></div>
    <div class="c-gallery">
        <div class="container c-container__container">
            <ngx-simplebar style="height:700px; width: 100%;">
                <div class="row  d-flex align-item-center justify-content-center">

                    <figure *ngFor="let house of houses | filter:textToFilter" routerLink="/houses/{{house.name}}"
                        class=" c-houses__figure col-12 col-md-6 col-lg-2">

                        <div *ngIf="house.logoURL">
                            <img src="{{house.logoURL}} " alt="logo house" class="c-houses__img">
                            <figcaption class="c-houses__title"> {{house.name}} </figcaption>
                        </div>

                    </figure>
                </div>
            </ngx-simplebar>
        </div>
        <app-footer></app-footer>
    </div>
</div>